/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.08.2015, 23:29:17
    Author     : daemon
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,latin);

html, body {
    margin: 0;
    height: 100%;
}

body {
  background: url('../img/background1.png') repeat;  
  font-family: 'PT Sans', sans-serif;
  color: #7c8d87;
}

#container {
  padding: 50px 10%;
}

#header {
  position: fixed;
  top: 0px;
  width: 80%;
  height: 36px;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  -webkit-user-select: none;
  z-index: 100;
}

#spacer {
  position: absolute;
  width: 100%;
  height: 36px;
  background: #eee;
  -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #D6D6D6 inset;
  -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #D6D6D6 inset;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #D6D6D6 inset;
}

#content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.link-button {
  position: absolute;
  height: 36px;
  line-height: 36px;
  color: #333;
  padding: 0px 10px;
  background: #eee;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #D6D6D6 inset;
  -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #D6D6D6 inset;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #D6D6D6 inset;
  transition: background 0.1s linear;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.link-button:hover {
  cursor: pointer;
  background: #ddd;
  box-shadow: 0 1px 0 #eee inset, 0 -1px 0 #D6D6D6 inset;
  -moz-box-shadow: 0 1px 0 #eee inset, 0 -1px 0 #D6D6D6 inset;
}

#employee-name {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

html .ui-autocomplete {
    width: 200px;
    font-family: serif;
    font-size: 16px;
}

.ui-dialog {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 80%;
}

.ui-autocomplete {
    z-index: 104;
}

.table-cust {
    width: 100%;
    font-size: 20px;
}

.pagination ul li {    
    list-style-type: none;
    font-family: 'PT Sans', sans-serif;
}

.pagination a, .pagination span {
	float: left;
	color: #666;
	font-size:16px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	background: #efefef; /* Old browsers */
}

.pagination {
    margin-bottom: 4em;
    width: 50%;
}

.pagination a:hover {
	text-decoration: none;
	background: #FCFCFC;
        cursor: pointer;
}

.pagination .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.pagination .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

#loadingOverlay {
  position: absolute;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 2000;
  background-color: rgba(170,170,170,0.3);
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#loadingWrapper {
  position: absolute;
  top: 50%;
  margin-top: -110px;/* half of #content height*/
  left: 0;
  width: 100%;
}

#loadingContainer {
  margin-left: auto;
  margin-right: auto;
  height: 220px;
}

.spinner {
  margin: 100px auto 0;
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#content tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    line-height: 1.5em;
}

#content td {
    padding: 0.75em 1.5em;
}

.table-button {
    transition: 0.2s;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 1);
}

.table-button:hover {
    cursor: pointer;    
    background-color: rgba(200, 200, 200, 1);
}

.table-button:active {
}

#create {
    top: 54px;
    right: 10%;
    position: absolute;
    height: 3em;
    width: 3em;
    line-height: 3.9em;
}

#title {    
    position: absolute;
    top: 54px;
    text-align: center;
    right: 20%;
    left: 20%;
    font-size: 30px;
}